.DeveloperPage {
     margin: auto;
     padding-left: 2vw;
     padding-top: 20vh;
     padding-bottom: 5vh;
     margin-left: 250px;

.queryInfo {
    padding-top: 2.5rem;
}

.routes {
    padding: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.paths {
    font-weight: normal;
    font-size: 1.25rem;
}

li {
    padding-left: 1em;
    line-height: 1.5em;
}


#container {
height: 600px;
width: 600px;
}

#timecontainer {
    height: 800px;
    width: 1000px;
}

#durationcontainer{
    height: 600px;
    width: 600px;
}

}