.ChargesPage {
     margin: auto;
     padding-left: 2vw;
     padding-top: 20vh;
     padding-bottom: 5vh;
     margin-left: 250px;
     margin-right: 10vw;

p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.3;
    margin: 1em;
}

}