
.pageBody {
  margin-left: 250px;
}

.h1 {
  text-align: center;
  padding: 1em;
}

.tbody {
  width: 60%;
  text-align: left;
  margin: auto;

}

td {
  padding: 22em;
}

.QueryControls{
  padding: 1em;
  width: 80%;
  text-align: center;
  margin-left: 17%;
  font-size: 1.5em;


  input {
    height: 30px;
  }
}