
.pageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 20vh;
  margin-left: 250px;
}

.h1 {
  text-align: center;
  padding-top: 2vh;
  padding-right: 2vh;
}

.tbody {
  width: 60%;
  text-align: left;
  margin: auto;

}

td {
  padding: 22em;
}

.QueryControls{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1em;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  font-size: 1.5em;


  input {
    height: 30px;
    width: 50px;
  }
}

.dropdown {
  height: 3vh;
}
