@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');



.pageBody {
  font-size: 30px;
  margin-left: 250px;
  font-family: 'Playfair Display';
  padding-top: 20vh;
}

.h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4vh;
  text-align: center;
  padding: 1em;
}

.tbody {
  width: 60%;
  text-align: left;
  margin: auto;

}

td {
  padding: 22em;
}

table tr td {
  border: 1px solid black;
  padding: 15px;
  font-family: Merriweather;
  padding-top: 20px;
}

.QueryControls{
  font-size: 2em;
  padding: 1em;
  width: 80%;
  text-align: center;
  margin-left: 17%;


  input {
    height: 30px;
<<<<<<< HEAD

=======

>>>>>>> da229e8519afeeba93dd84e0d0e18ee3669f7d4a
  }
}