.Header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 2em;
  z-index: 1;
    background-color:#B9D1D3;
    color: #3b3a3a;
    height: 20vh;
    text-align: left;
    width: 100%;
    font-size: 45px;
    font-family: 'Roboto';
    font-weight: 800;
}

@media screen and (max-width: 475px) {

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    line-height: 2rem;
    font-size: 1em;
  }
}

